@{
    ViewData["Title"] = "Log In";
}

<div class="text-center">
    <form asp-action="LogIn" method="post" asp-antiforgery="true">
        <div class="form-group">
            <input id="password" type="password" name="password" class="form-control" placeholder="Enter admin pass">
        </div>
        <button id="send" type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    @if (ViewData["ErrorMessage"] != null)
    {
        <p id="error" class="alert-danger">@ViewData["ErrorMessage"]</p>
    }
</div>